<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.viewmodelandlivedatademo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:windowSoftInputMode="adjustResize", 重新计算弹出软键盘之后的界面大小, 相当于是用更少的界面区域去显示内容, 输入框也在内 -->
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>